<header class="site-header">
  <section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">
        <!-- <div class="col-md-6 col-sm-6 col-xs-6 text-left">
          <a href="/"><img src="/img/logo-white.png" alt="Boxify Logo"></a>
        </div> -->
        <div class="col-sm-9 col-xs-9 text-left">
          <a id="header-brand" href="/">WEB <i class="fa fa-magnet fa-rotate-90"></i><i class="fa fa-magnet fa-rotate-270"></i> MAGNETIC <span id="header-llc">LLC.</span></a>
        </div>
        <div class="col-sm-3 col-xs-3 text-right navicon">
          <p class="hidden-xs">MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12">
          <h1 class="animated fadeInDown">We provide modern web solutions for individuals and businesses.</h1>
          <a href="#download" class="use-btn animated fadeInUp">Contact Us</a>
          <a href="#about" class="learn-btn animated fadeInUp">Learn more <i class="fa fa-arrow-down"></i></a>
        </div>
      </div>
    </div>
  </section>
</header>
