<section class="download" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center wp4">
        <h1>Contact</h1>
        <form action="https://www.elformo.com/forms/81810244-de3a-4b6f-bb6e-e88a9f4e093f" method="post">
          <div class="form-group">
            <input id="name" class="form-control" name="name" type="text" placeholder="Name *"/ required>
          </div>
          <div class="form-group">
            <input id="email" class="form-control" name="email" type="email" placeholder="Email *" required/>
          </div>
		      <div class="form-group">
            <textarea id="comment" name="comment" class="form-control" rows="5" placeholder="Message *" required></textarea>    
          </div>
		      <div class="form-group">
            <input id="submit" name="submit" type="Submit" class="learn-btn" />
          </div>
	  	  </form>
        <!-- <a href="/blog" class="download-btn">See More <i class="fa fa-download"></i></a> -->
      </div>
    </div>
  </div>
</section>