<section class="screenshots-intro">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Packed Full of Powerful Features</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
        <p><a href="#screenshots" class="arrow-btn">See the screenshots! <i class="fa fa-long-arrow-right"></i></a></p>
      </div>
    </div>
  </div>
</section>