<section class="features-list" id="features">
  <div class="container">
    <div id="first-row" class="row">
      <div class="col-md-12">
        <div class="col-md-4 feature-1 wp2">
          <div class="feature-icon">
            <i class="fa fa-desktop"></i>
          </div>
          <div class="feature-content">
            <h1>Web Apps</h1>
            <p>We are experts in building and maintaining custom PHP web applications using the <a href="http://laravel.com" target="_blank">Laravel Framework.</a></p>
            <!-- <a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a> -->  
          </div>
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
          <div class="feature-icon">
            <i class="fa fa-wordpress"></i>
          </div>
          <div class="feature-content">
            <h1>Wordpress</h1>
            <p>If you need custom <a href="http://wordpress.org" target="_blank">Wordpress</a> solutions we can build full sites or custom plugins that meet your business needs.</p>
            <!-- <a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a> -->
          </div>
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
          <div class="feature-icon">
            <i class="fa fa-mobile fa-lg"></i>
          </div>
          <div class="feature-content">
            <h1>Mobile Apps</h1>
            <p>We build mobile applications using the <a href="http://ionicframework.com" target="_blank">Ionic Framework</a> and deploy them to the iOS and Android platforms.</p>
            <!-- <a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-4 feature-1 wp2">
          <div class="feature-icon">
            <i class="fa fa-envelope-o"></i>
          </div>
          <div class="feature-content">
            <h1>Email Marketing</h1>
            <p>We have extensive experience in building HTML email campaigns and deploying them through <a href="http://mailchimp.com" target="_blank">Mailchimp</a>, <a href="http://constantcontact.com" target="_blank">Constant Contact</a>, and <a href="http://campaignmonitor.com" target="_blank">Campaign Monitor</a>.</p>
            <!-- <a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a> -->  
          </div>
        </div>
        <div class="col-md-4 feature-2 wp2 delay-05s">
          <div class="feature-icon">
            <i class="fa fa-html5"></i>
          </div>
          <div class="feature-content">
            <h1>Static Websites</h1>
            <p>If you need a website but don't plan on updating content very frequently or writing blog posts then the solution may be a well designed static website.</p>
            <!-- <a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a> -->
          </div>
        </div>
        <div class="col-md-4 feature-3 wp2 delay-1s">
          <div class="feature-icon">
            <i class="fa fa-shopping-cart"></i>
          </div>
          <div class="feature-content">
            <h1>E-Commerce</h1>
            <p>A well planned e-commerce website is essential to your businesses success when selling products or services online.</p>
            <!-- <a href="http://tympanus.net/codrops/?p=22554" class="read-more-btn">Read More <i class="fa fa-chevron-circle-right"></i></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>